<section class="container">
    <div class="destinos">
        <div class="destinos__header">
            <h1>Los destinos mas buscados</h1>
            <small>Estos son los destinos que los usuarios mas solicitan.</small><br>
            <small>A continuacion te dejamos un listado con los mejores precios</small>
        </div>
        <div class="destinos__body">
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
            <div>
                <strong>Rosario, Sta fe,</strong> del <strong>15/07</strong> al <strong>15/08</strong> desde
                <strong class="price">$5.000 </strong><button mat-raised-button color="warn">Warn</button>
            </div>
        </div>
    </div>
</section>
<section class="newsletter">
    <div class="newsletter__container container">
        <div class="newsletter__text">
            <h2>Suscribete a nuestro newsletter</h2>
            <small>!Dejamos tu mail para que podamos acercarte las mejores ofertas!</small>
        </div>
        <div class="newsletter__input">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Tu email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <button mat-raised-button color="warn">Suscribete</button>
        </div>
    </div>
</section>