<mat-card class="buscador__card">
    <div class="buscador__card-body">
        <div class="buscador__card-pasajeros">
            <div class="buscador__card-item">
                <span>Adultos</span>
                <small>Desde 12 años</small>
            </div>
            <div class="buscador__card-item">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
                <input type="text">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
            </div>
            <div class="buscador__card-item">
                <span>Niños</span>
                <small>Desde 2 a 11 años</small>
            </div>
            <div class="buscador__card-item">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
                <input type="text">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
            </div>
            <div class="buscador__card-item">
                <span>Bebes en brazos</span>
                <small>Desde 0 a 2 años</small>
            </div>
            <div class="buscador__card-item">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
                <input type="text">
                <button mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
            </div>
        </div>
        <div class="buscador__card-options">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Economica</mat-radio-button>
                <mat-radio-button value="2">Ejecutiva</mat-radio-button>
            </mat-radio-group>
        </div>
        <button class="buscador__card-button" mat-flat-button color="warn">Aplicar</button>
    </div>
</mat-card>