<div class="buscador__card-body">
    <div class="buscador__card-pasajeros">
        <div class="buscador__card-item">
            <span>Adultos</span>
            <small>Desde 12 años</small>
        </div>
        <div class="buscador__card-item">
            <button (click)="sumarPasajeros('adultos')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
            <input type="text" readonly [(ngModel)]="adultos">
            <button (click)="restarPasajeros('adultos')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
        </div>
        <div class="buscador__card-item">
            <span>Niños</span>
            <small>Desde 2 a 11 años</small>
        </div>
        <div class="buscador__card-item">
            <button (click)="sumarPasajeros('ninos')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
            <input type="text" readonly [(ngModel)]="ninos">
            <button (click)="restarPasajeros('ninos')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
        </div>
        <div class="buscador__card-item">
            <span>Bebes en brazos</span>
            <small>Desde 0 a 2 años</small>
        </div>
        <div class="buscador__card-item">
            <button (click)="sumarPasajeros('bebes')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon></button>
            <input type="text" readonly [(ngModel)]="bebes">
            <button (click)="restarPasajeros('bebes')" mat-flat-button color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon></button>
        </div>
    </div>
    <div class="buscador__card-options">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="tipo_clase" (change)="tipoClase()">
            <mat-radio-button value="1">Economica</mat-radio-button>
            <mat-radio-button value="2">Ejecutiva</mat-radio-button>
        </mat-radio-group>
    </div>
    <button class="buscador__card-button" (click)="cerrarDialog()" mat-flat-button color="warn">Aplicar</button>
</div>