<div class="container-buscador">
    <form class="form-buscador">
        <div class="buscador">
            <div class="buscador__container">
                <div class="buscador__radio-buttons">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="tipoVuelo" name="tipoVuelo">
                        <mat-radio-button value="1">Ida y vuelta</mat-radio-button>
                        <mat-radio-button value="2">Solo ida</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buscador__inputs" style="font-size: 12px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Origen</mat-label>
                        <input #origen (keyup)="autoOrigen(origen.value)" type="text" placeholder="¿Desde donde sales?" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Destino</mat-label>
                        <input #destino (keyup)="autoDestino(destino.value)" type="text" placeholder="¿Cual es su destino?" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="tipoVuelo == '1'">
                        <mat-label>Ida y Vuelta</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Fecha Ida" readonly>
                            <input matEndDate placeholder="Fecha Vuelta" readonly>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker [touchUi]="touchUi" #picker></mat-date-range-picker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="tipoVuelo == '2'">
                        <mat-label>Solo Ida</mat-label>
                        <input matInput [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [touchUi]="touchUi" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" (click)="openDialog()">
                        <mat-label>Pasajeros y Clase</mat-label>
                        <input disabled matInput>
                    </mat-form-field>
                </div>

            </div>
            <div class="buscador__button">
                <button mat-stroked-button>Buscar</button>
            </div>
        </div>
    </form>
</div>